@import "common/imports";

$border-color: #e2e2e2;
$sheet-color: #fff;
$experimental-support-for-svg: true;
$icons: technology sport fainance education furniture home construction auto wedding travel cafe medical food;
.main-content {
  background:url('/img/bg.png') no-repeat;
  background-size:100% 100%;
  bottom:0px;
  padding:30px 0px;
  position:absolute;
  top:0px;
  width:100%;
}
.stacked-papers {
		border-bottom:1px solid #e2e2e2;
    margin-left:auto;
    margin-right:auto;
		@include box-shadow(
			0 5px  0 -4px  $sheet-color, 
			0 5px  0 -3px  $border-color, 
			0 11px 0 -8px  $sheet-color, 
			0 11px 0 -7px  $border-color
			);
}
.menu {
  position:relative;width:210px;
  .menu__header {            background:url('/img/category-header.png') no-repeat;
    color:#986618;
    font-family:Rockwell;
    font-size:16px;
    margin-left:-1px;
    padding:20px 0px 30px;
    position:relative;
    text-align:center;
    text-shadow: 1px 1px 1px #f8e7cb;
    width:212px;
    z-index:40;
    
  }
}
.menu-items {
  background:#fff url('/img/pink-lines.png') repeat-y 10px;
  border:solid #ddd;
  border-width:1px 1px 0px 1px;
  margin: -6px 0px 0px;
  padding: 0px;
  position: relative;
  width: 208px;
  z-index:2;
  li
  {
    border-bottom: 1px solid #ddd;
    color:#595f65;
    font-family:arial;
    font-size:12px;
    line-height: 40px;
    list-style: none;
    padding-left: 55px;
    @for $i from 1 through length($icons){
      $item: nth($icons, $i);
      &.#{$item}:before {
        background-position:$i*-30px 0px;    
      }
    } 
    
    &:hover
    {
      color:#fff;
      cursor: pointer;
      text-shadow:0 1px rgba(#000,.3);
      @include background(linear-gradient(rgba(#fbc254,1),#faad43));
      @include box-shadow(inset 0 2px 0px rgba(#fff,.3),inset 0 0 0 1px rgba(#c9761c,.4));
      
	  @for $i from 1 through length($icons){
        $item: nth($icons, $i);
        &.#{$item}:before {
          background-position:$i*-30px -30px;    
        }
      } 
    }
    
    &:before {
      background: url(/img/icons.png);
      content: "";
      height: 30px;
      left: 0px;
      position: absolute;
      margin: 5px 0px 0px 20px;
      width: 29px;
    }
  }
}